.header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #909EBD;
    position: fixed;
    min-width: 100%;
}

.input {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    border: 2px solid #34598B;
    outline-color: #34598B;
}

.input:placeholder-shown {
    font-family: "Raleway", sans-serif;
}

/* .button {
    display: inline-block;
    margin-left: 25px;
    padding: 10px 15px;
    font-size: 1em;
    border: 2px solid #34598B;
    background-color: white;
    border-radius: 5px;
    color: #34598B;

    font-family: "Raleway", sans-serif;
    font-weight: 600;
} */

.button:hover {
    background-color: #E6F1FF;
}