#root .modalOverlay {
    background-color: rgba(144, 158, 189, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    backdrop-filter: blur(5px);
}
            /* alignItems: "center",
             zIndex: "999999",
                   backgroundColor: "rgba(45, 45, 45, 0.3)",
         backdropFilter: "blur(5px)", */